# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL
4.Java

Some of the commonly used libraries used by Data Scientists include:
    1.pandas
    2.matplotlib
    3.ggplot
    4.keras
    5.numpy

|Data Science Tools |
-----------------------------
| Jupyter |
| RStudio |
| Google Colab |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5
#  This a simple arithmetic expression to mutiply then add integers

17

In [11]:
minutes = 200
hours = minutes / 60
rounded_hours = round(hours, 2)
print(rounded_hours)

# This will convert 200 minutes to hours by diving by 60

3.33

Objectives:
- List popular languages for Data Science
- List Libraries for Data Science
- Examples of evaluating arithmetic expressions
- Comments

 # Author
    Sankeerthana